*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100vw;
    max-height: 100vh;
}

ul,ol,li{
    list-style: none;
}

button{
    border: none;
    background: inherit;
}

:focus {
    outline: none;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  select {
    border: none;
    outline: none;
    background: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }